body{
    background-color: black;
}



.card{
    background: url('imagens/backgorund.png') no-repeat;
    width: 400px;
    height: 200px;
    padding: 1px 20px;
    box-sizing: border-box;
    background-size: cover;
    margin: auto;
    margin-top: 250px;
    color: ;
    
}
    
.a{

    text-decoration: none;
    color: black;

}
.instagran{
  list-style-image: url(imagens/Insta.png);

}

.twitter{
    list-style-image: url(imagens/Twitter.png);

}

.youtube{
    list-style-image: url(imagens/Youtube.png);
}



}